@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Nunito";
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #010a10;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@layer utilities {
}
